dnspython==2.6.1
Levenshtein==0.25.1
numpy==1.24.4
pandas==2.0.3
pymongo==4.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-Levenshtein==0.25.1
pytz==2026.2
rapidfuzz==3.9.7
six==1.17.0
thefuzz==0.22.1
tzdata==2026.2
